{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
    function clickHandler(obj) {
        var ocdid = obj.getAttribute("data-ocdid");
        var click_tag = obj.getAttribute("data-tag");
        var req = new XMLHttpRequest();
        function done() {
            location.href = obj.href;
        }

        req.addEventListener("load", done);
        req.addEventListener("error", done);

        req.open("GET", "/call/click/?key={{ key }}&ocdid=" + ocdid + "&tag=" + click_tag);
        req.send();

        event.preventDefault();
        return false;
    }
</script>

<main>
    <div>
        <div class="only-print" id="header">
            <h1>{{ campaign.name }}</h1>
            <div id="qrcode" style="flex: 0;"></div>
        </div>
        <div class="hide-print">
            <p><em><strong>Tip:</strong> Print this page for an in-person letter writing party! You'll get our talking points, plus a QR code for folks to scan to find their reps.</em></p>
        </div>
        {{ campaign.tips|safe }}
        <div class="hide-print">
            {% for rep, member, note, rep_note in result %}
            {% if not member.name or member.name == "Vacant" %}
            <p>You do not have {{ rep.no_rep_note }} representation this legislative session (probably due to an upcoming special election). Don't forget to vote, and tell your friends about this campaign!</p>
            {% else %}
            <h2>{{ rep.prelude }} {{ member.name }} ({{ member.party }})</h2>
            {% if note %}<p>{{ note|safe }}</p>{% endif %}
            {% if rep_note %}<p>{{ rep_note|safe }}</p>{% endif %}
            <a class="link-btn" data-ocdid="{{ member.ocdid }}" data-tag="{{ rep.click_tag|default('default') }}" onclick="clickHandler(this);" href="tel:+1{{ member.clean_phone }}">Call {{ member.name }}<br />{{ member.phone }}</a>

            {% if member.phone_type %}
                <p>
                    {% if member.phone_type == "Direct" %}We think <strong>this is the legislator's direct number.</strong> Texting may work too. If you don't receive a response or hit a full voicemail box, try <a href="tel:+1{{ member.clean_capitol_phone }}">{{ member.capitol_phone }} (their State House office phone number)</a>.
                    {% elif member.phone_type == "Business" %}We think <strong>this is a phone number of the legislator's business</strong>. You may have to dial an extension or ask someone to transfer you. You can also try <a href="tel:+1{{ member.clean_capitol_phone }}">{{ member.capitol_phone }} (their State House office phone number)</a>.
                    {% elif member.phone_type == "LegeOffice" %}We think <strong>this is a county legislative office phone number</strong>. You will likely reach someone who is not the representative, but who will be able to take messages for them. You can also try <a href="tel:+1{{ member.clean_capitol_phone }}">{{ member.capitol_phone }} (their State House office phone number)</a>.
                    {% endif %}
                </p>
            {% endif %}

            {% if member.office or member.email %}
            <p>{% if member.office %}{{ member.name }}'s office is in Room {{ member.office }} at the state house.{% endif %} {% if member.email %}{{ member.name }}'s email is {{ member.email }}.{% endif %}</p>
            {% endif %}
            <p>You can write a physical letter to your legislator at:</p><p><strong>{{ member.name }}</strong><br />Alabama State House<br />11 S Union St<br />Montgomery, AL 36130</p>
            {% endif %}

            {% if not loop.last %}
            <hr />
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <script src="https://altrac.works/files/qrcode.min.js"></script>
    <script>new QRCode(document.getElementById("qrcode"), "https://altrac.works/call/{{ key }}/");</script>
</main>
{% endblock %}
