{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
    function clickHandler(obj) {
        var ocdid = obj.getAttribute("data-ocdid");
        var click_tag = obj.getAttribute("data-tag");
        var req = new XMLHttpRequest();
        function done() {
            location.href = obj.href;
        }

        req.addEventListener("load", done);
        req.addEventListener("error", done);

        req.open("GET", "/call/click/?key={{ key }}&ocdid=" + ocdid + "&tag=" + click_tag);
        req.send();

        event.preventDefault();
        return false;
    }
</script>

<main>
    <div>
        {{ campaign.tips|safe }}
        <div>
            {% for rep, member, note, rep_note in result %}
            {% if not member.name %}
            <p>You do not have {{ rep.no_rep_note }} representation this legislative session (probably due to an upcoming special election). Don't forget to vote, and tell your friends about this campaign!</p>
            {% else %}
            <h2>{{ rep.prelude }} {{ member.name }} ({{ member.party }})</h2>
            {% if note %}<p>{{ note|safe }}</p>{% endif %}
            {% if rep_note %}<p>{{ rep_note|safe }}</p>{% endif %}
            <a class="link-btn" data-ocdid="{{ member.ocdid }}" data-tag="{{ rep.click_tag|default('default') }}" onclick="clickHandler(this);" href="tel:+1{{ member.clean_phone }}">Call {{ member.name }}<br />{{ member.phone }}</a>
            {% if campaign.name == "General legislative contact" and (member.office or member.email) %}<p>{% if member.office %}{{ member.name }}'s office is in Room {{ member.office }} at the state house.{% endif %} {% if member.email %}{{ member.name }}'s email is {{ member.email }}.{% endif %}</p>{% endif %}
            {% endif %}
            {% if not loop.last %}
            <hr />
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
