{% extends "base.html" %}
{% block body %}
<main>
    <div>
        <h2>Sorry, server problems</h2>
        <p>We couldn't find your district &mdash; our data provider is having problems. So sorry. We should be back soon.</p>
        <p>In the meantime, you can find your representative's info at <a href="https://www.sos.alabama.gov/alabama-votes/elected-official-map">the Alabama Secretary of State's site</a>.</p>
        <p><a href="/call/">Give it another try?</a></p>
    </div>
</main>
{% endblock %}
